<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <nav>
        <div><a href="{% url 'index' %}">My Tech blog</a></div>
        <div><a>About</a></div>
        <div><a>Github</a></div>
        <div><a>LinkedIn</a></div>
        {% if user.is_authenticated %}

            <div><a href="{% url 'main_app:create_post' %}">New Post</a></div>
            <div><a href="{% url 'main_app:drafts' pk=user.pk%}">Drafts</a></div>
            <div><a href="{% url 'logout' %}">Log out</a></div>
            <div><a></a></div>
        {% else %}
            <div><a href="{% url 'login' %}">LOGIN</a></div>
        {% endif %}

    </nav>
    <main>
        {% block main %}
        {% endblock %}
    </main>
</body>
</html>