{% extends 'main_app/base.html' %}

{% block title %}
    {{ post.title }}
{% endblock %}

{% block main %}
    <h1>{{ post.title }}</h1>
    
    
    {% if not post.is_published and post.author == user%}
        <form method="post" action="{% url 'main_app:publish_post' pk=post.pk%}">
            {% csrf_token %}
            <input type="submit" value="Publish">
        </form>
    {% endif %}
    
    
    <p>{{ post.content }}</p>
    
    
    {% if post.author == user %}
        <form method="post" action="{% url 'main_app:update_post' pk=post.pk%}">
            {% csrf_token %}
            <input type="submit" value="Edit">
        </form>
        <form method="post" action="{% url 'main_app:delete_post' pk=post.pk %}">
            {% csrf_token %}
            <input type="submit" value="Delete">
        </form>
    {% endif %}
    
    
    {% if post.is_published %}
        <h3>Comments: {{ comments.count }}</h3>
        {% if comments %}
            {% for comment in comments %}
                <p>{{ comment.author }}: {{ comment.content }}</p>
            {% endfor %}
        {% endif %}
        <a href="{% url 'main_app:add_comment' post_pk=post.pk%}">
            <button>Add Comment</button>
        </a>
        
    {% endif %}
    
    
{% endblock %}